@model dnevnik.Models.Grades

<link rel="stylesheet" href="@Url.Content("~/Content/styles/table.css")">

<h1>@Model.name класс</h1>
<dl>
    <dt>Классный руководитель</dt>
    @{string name = "отсутствует";}
    @if (Model.TeacherId != null)
    {
        name = Model.Teachers.lastname + " " + Model.Teachers.firstname + " " + Model.Teachers.patronymic;
    }
    <dd>
        @Html.ActionLink(@name, "Teachers", new { teacherId = Model.TeacherId }, new { title = "Посмотреть информацию об учителе",@class = "link" })
        @*<a title="Подробнее об учителе" href="/Shool/Teachers/@Model.Teachers.TeacherId.ToString()">
        @name
        </a>*@
    </dd>
</dl>
<h2>Список класса</h2>
<ul>
    @foreach (dnevnik.Models.Students student in Model.Students)
    {
    <li>
        @Html.ActionLink(@student.lastname+" "+@student.firstname+" "+@student.patronymic, "Students", "Shool",new {studentId=student.StudentId}, new { title = "Посмотреть информацию об ученике", @class = "link" })
        @*<a title="Подробнее об ученике" href="/Parent/Students/@student.StudentId">
            @student.lastname @student.firstname @student.patronymic
        </a>*@
    </li>
    }
</ul>

