@using dnevnik.Models
@model Teachers

<h1>@Model.lastname @Model.firstname @Model.patronymic</h1><br />
<img src="ss/sd" alt="Фото" />
<p>Дата рождения - @Model.dateBirth.ToString().Substring(0,10)</p><br />
<h2>Преподаваемые дисциплины</h2>
<ul class="list-group">
    @foreach (Specialization s in Model.Specialization)
    {
        <li class="list-group-item">@s.Subjects.name</li>
    }
</ul>


